body {
	font-family: sans-serif;
	background: #eee;
}

/*----styles for index page-----*/

 button .post {
	background-color: purple;
	padding: 14px 20px;
	width: auto;
	margin:8px 0;
	color: white;
	border: none;
	cursor: pointer;
}

button .post:hover {
	opacity: .8;
}

/*----Endof styles for index page-----*/


.container {
	padding-top: 5px;
}

.navbar1 {
	overflow: hidden;
	background-color: #333;
	font-family: Arial;
	
}

.navbar1 a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar1 a:hover, .dropdown1:hover  {
	background-color: red;
	text-decoration: none;
}

.navbar1-right {
	float: right;
	list-style: none;
	overflow: hidden;
}

/* loginpage */
.form input[type="text"], input[type="password"],  {
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin: 8px 0;
	padding: 8px 20px;
	display: inline-block;
	width: 100%;
}

textarea  {
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin: 8px 0;
	padding: 8px 20px;
	width: 100%;
}

 button {
	background-color: #4CAF50;
	padding: 14px 20px;
	width: 100%;
	margin:8px 0;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: .8;
}

.cancelbtn {
	background-color: #f44336;
	width: auto;
	padding: 10px 18px;
}

.container1 {
	position: fixed;
	z-index: 1; /* sit on top*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color:rgba(0, 0, 0, .4);
	padding-top: 60px;
}

.content {
	background-color: #fefefe;
	margin:5px auto;
	border: 1px solid #888;
	width: 60%;
	border-radius: 5px;
	padding: 20px;
}

.content-show {
	background-color: #fefefe;
	margin:5px auto;
	padding: 20px;
}

span.psw {
	float: right;
	padding: 16px;
}

/* change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}

	.cancelbtn {
		width: 100%;
	}
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-tranform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}







.page {
	margin:2em auto;
	width: 35em;
	border: 5px solid #ccc;
	padding: 0.8em;
	background: white;
}







.metanav {
	text-align: right;
	font-size: 0.8em;
	padding: 0.3em;
	margin-bottom: 1em;
	background: #fafafa;
}

.flash {
	background: #cee5F5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
}

.error {
	background: #f0d6d6;
	padding: 0.5em;
}



/*------for Contact page-----*/

#form-show-entries input[type="text"],  textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#form-show-entries input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}

#form-show-entries input[type="submit"]:hover {
	background-color: #45a049;
}

/*------endfor show_entries page-----*/

.content-show{
	width: 75%;
	float: left;
}

.entries {
	list-style: none;
	margin:0;
	padding-top: 5px;
}

.entries li {
	margin:0.8em 1.2em;
}

.entries li h2 {
	margin-left: -1em;
}

.left-bar {
	width: 25%;
}


/*------for Contact page-----*/

#form-contact input[type="text"], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#form-contact input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}

#form-contact input[type="submit"]:hover {
	background-color: #45a049;
}

.contact-form-content {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/*------endfor Contact page-----*/



