{% extends "base.html" %}
{% block body %}

<div class="container">
  <div class="content-show">
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <div class="form1">
        <label>Title: </label>
        	<input class="text" type="text"  name=title>
      
      	<label>Text: </label>
        <textarea class="form-control" name=text ></textarea>
      </div>
       <button type="submit" class="btn btn-default" style="margin-bottom: 30px; width: auto; ">Share</button>
     
    </form>
  {% endif %}

  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
</div>
</div>
{% endblock %}